NET X0          	LOC = R15  | IOSTANDARD = LVCMOS25;
NET X1          	LOC = L16  | IOSTANDARD = LVCMOS25;
NET X5          	LOC = P22  | IOSTANDARD = LVCMOS25;
NET X7          	LOC = N22  | IOSTANDARD = LVCMOS25;

NET hdmi_clk        LOC = N20  | IOSTANDARD = LVCMOS25;
NET hdmi_vsync      LOC = T19  | IOSTANDARD = LVCMOS25;
NET hdmi_hsync      LOC = R19  | IOSTANDARD = LVCMOS25;
NET hdmi_data_e     LOC = N19  | IOSTANDARD = LVCMOS25;

NET hdmi_data[0]    LOC = T18  | IOSTANDARD = LVCMOS25;
NET hdmi_data[1]    LOC = R18  | IOSTANDARD = LVCMOS25;
NET hdmi_data[2]    LOC = R21  | IOSTANDARD = LVCMOS25;
NET hdmi_data[3]    LOC = R20  | IOSTANDARD = LVCMOS25;
NET hdmi_data[4]    LOC = M22  | IOSTANDARD = LVCMOS25;
NET hdmi_data[5]    LOC = K21  | IOSTANDARD = LVCMOS25;
NET hdmi_data[6]    LOC = M21  | IOSTANDARD = LVCMOS25;
NET hdmi_data[7]    LOC = J20  | IOSTANDARD = LVCMOS25;
NET hdmi_data[8]    LOC = T17  | IOSTANDARD = LVCMOS25;
NET hdmi_data[9]    LOC = J22  | IOSTANDARD = LVCMOS25;
NET hdmi_data[10]   LOC = T16  | IOSTANDARD = LVCMOS25;
NET hdmi_data[11]   LOC = J21  | IOSTANDARD = LVCMOS25;

NET hdmi_int        LOC = AA17 | IOSTANDARD = LVCMOS25 | PULLUP;
NET cec_clk			LOC = AB16 | IOSTANDARD = LVCMOS25;
NET ct_hpd			LOC = AB17 | IOSTANDARD = LVCMOS25;
NET ls_oe			LOC = AA16 | IOSTANDARD = LVCMOS25;

NET i2c_scl_pin 	LOC = W20  | IOSTANDARD = LVCMOS25;
NET i2c_sda_pin 	LOC = W21  | IOSTANDARD = LVCMOS25;
